Repository molgenis/molgenis, pull requests merged in 2019-11, with the labels that each got.

#8744 M6943 Immutable collection/optional serializers & deserializers
  local-maven-repo/com/baggonius/gson/guava-gson-serializers/1.0.1/guava-gson-serializers-1.0.1-sources.jar
  local-maven-repo/com/baggonius/gson/guava-gson-serializers/1.0.1/guava-gson-serializers-1.0.1-sources.jar.md5
  local-maven-repo/com/baggonius/gson/guava-gson-serializers/1.0.1/guava-gson-serializers-1.0.1-sources.jar.sha1
  local-maven-repo/com/baggonius/gson/guava-gson-serializers/1.0.1/guava-gson-serializers-1.0.1.jar
  local-maven-repo/com/baggonius/gson/guava-gson-serializers/1.0.1/guava-gson-serializers-1.0.1.jar.md5
  local-maven-repo/com/baggonius/gson/guava-gson-serializers/1.0.1/guava-gson-serializers-1.0.1.jar.sha1
  local-maven-repo/com/baggonius/gson/guava-gson-serializers/1.0.1/guava-gson-serializers-1.0.1.pom
  local-maven-repo/com/baggonius/gson/guava-gson-serializers/1.0.1/guava-gson-serializers-1.0.1.pom.md5
  local-maven-repo/com/baggonius/gson/guava-gson-serializers/1.0.1/guava-gson-serializers-1.0.1.pom.sha1
  local-maven-repo/com/baggonius/gson/guava-gson-serializers/maven-metadata.xml
  local-maven-repo/com/baggonius/gson/guava-gson-serializers/maven-metadata.xml.md5
  local-maven-repo/com/baggonius/gson/guava-gson-serializers/maven-metadata.xml.sha1
  molgenis-web/pom.xml
  molgenis-web/src/main/java/org/molgenis/web/converter/GsonConfig.java
Labels: branch:master

#8739 Add MetaDataService.deleteEntityTypes(Collection<String>)
  molgenis-data-platform/src/main/java/org/molgenis/data/meta/system/SystemEntityTypePersister.java
  molgenis-data-platform/src/test/java/org/molgenis/data/meta/system/SystemEntityTypePersisterTest.java
  molgenis-data/src/main/java/org/molgenis/data/meta/MetaDataService.java
  molgenis-data/src/main/java/org/molgenis/data/meta/MetaDataServiceImpl.java
  molgenis-data/src/test/java/org/molgenis/data/meta/MetaDataServiceImplTest.java
  molgenis-platform-integration-tests/src/test/java/org/molgenis/integrationtest/platform/DataServiceIT.java
  molgenis-platform-integration-tests/src/test/java/org/molgenis/integrationtest/platform/MetaDataServiceIT.java
  molgenis-platform-integration-tests/src/test/java/org/molgenis/integrationtest/platform/PlatformIT.java
Labels: branch:master

#8735 M6763 Asynchronous EntityType/Attribute delete endpoints
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/ApiMetadataL10nConfig.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiController.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiJobService.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiJobServiceImpl.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiService.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiServiceImpl.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/exception/ZeroResultsException.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/EntityTypeSerializerImpl.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/MetadataDeleteConfig.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/MetadataDeleteJobExecution.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/MetadataDeleteJobExecutionFactory.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/MetadataDeleteJobExecutionMetadata.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/MetadataUpsertJobExecution.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/MetadataUpsertJobExecutionMetadata.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/util/BaseCollectionDeserializer.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/util/BaseMapDeserializer.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/util/ImmutableListDeserializer.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/util/ImmutableMapDeserializer.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/util/Types.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/model/DeleteAttributeRequest.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/model/DeleteAttributesRequest.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/MetadataApiControllerTest.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/MetadataApiJobServiceImplTest.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/MetadataApiServiceImplTest.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/model/MetadataDeleteJobExecutionFactoryTest.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/model/MetadataDeleteJobExecutionTest.java
  molgenis-api-metadata/src/test/resources/l10n/api-metadata_en.properties
  molgenis-api-tests/src/test/java/org/molgenis/api/tests/metadata/v3/MetadataApiControllerIT.java
  molgenis-data-platform/src/main/java/org/molgenis/data/meta/system/SystemEntityTypePersister.java
  molgenis-data-platform/src/test/java/org/molgenis/data/meta/system/SystemEntityTypePersisterTest.java
  molgenis-data/src/main/java/org/molgenis/data/meta/MetaDataService.java
  molgenis-data/src/main/java/org/molgenis/data/meta/MetaDataServiceImpl.java
  molgenis-data/src/test/java/org/molgenis/data/meta/MetaDataServiceImplTest.java
  molgenis-platform-integration-tests/src/test/java/org/molgenis/integrationtest/platform/DataServiceIT.java
  molgenis-platform-integration-tests/src/test/java/org/molgenis/integrationtest/platform/MetaDataServiceIT.java
  molgenis-platform-integration-tests/src/test/java/org/molgenis/integrationtest/platform/PlatformIT.java
Labels: branch:feature/metadata-api

#8746 Fix self-referencing metadata create
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/AttributeV3Mapper.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/EntityTypeV3Mapper.java
  molgenis-api-tests/src/test/java/org/molgenis/api/tests/metadata/v3/MetadataApiControllerIT.java
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/createMetadataEntityTypeMyOneToMany.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/retrieveMetadata.json
Labels: branch:feature/metadata-api

#8743 Upgrade spring-boot-starter-parent 2.1.8.RELEASE to 2.2.1.RELEASE
  molgenis-api-tests/pom.xml
  molgenis-app/src/main/java/org/molgenis/app/WebAppSecurityConfig.java
  molgenis-core-ui/pom.xml
  molgenis-data-validation/pom.xml
  molgenis-dataexplorer/pom.xml
  molgenis-platform-integration-tests/src/test/java/org/molgenis/integrationtest/platform/PlatformITBaseConfig.java
  molgenis-platform-integration-tests/src/test/java/org/molgenis/integrationtest/platform/PlatformITConfig.java
  molgenis-security/pom.xml
  molgenis-security/src/main/java/org/molgenis/security/acl/AclConfig.java
  molgenis-semantic-mapper/pom.xml
  molgenis-test/src/main/java/org/molgenis/test/IsEqualJson.java
  molgenis-util/pom.xml
  molgenis-web/pom.xml
  pom.xml
Labels: branch:master

#8749 Feature/m6763 metadata api
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiController.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiService.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/MetadataApiControllerTest.java
Labels: branch:feature/metadata-api

#8751 M6763 Metadata API v3 unit tests
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/EntityTypeSerializerImpl.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/job/EntityTypeSerializerImplTest.java
Labels: branch:feature/metadata-api

#8750 remove AttributeSort use api.model.Sort + Fix setCascadeDelete for non ref attrs + improved exceptions
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/AttributeV3Mapper.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiController.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiJobServiceImpl.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiService.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiServiceImpl.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/MetadataDeleteConfig.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/MetadataDeleteJobExecution.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/MetadataDeleteJobExecutionMetadata.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/model/AttributeResponseData.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/model/AttributeSort.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/model/CreateAttributeRequest.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/MetadataApiControllerTest.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/MetadataApiServiceImplTest.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/model/MetadataDeleteJobExecutionTest.java
Labels: branch:feature/metadata-api

#8754 M6763 Metadata API v3 unit tests
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/EntityTypeV3Mapper.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataUtils.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/EntityTypeSerializerImpl.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/EntityTypeV3MapperTest.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/MetadataUtilsTest.java
Labels: branch:feature/metadata-api

#8756 M6763 Metadata API v3 unit tests
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/AttributeV3Mapper.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/AttributeV3MapperTest.java
Labels: branch:feature/metadata-api

#8753 Refactor MetadataAPI flow
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiController.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiJobService.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiJobServiceImpl.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiService.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiServiceImpl.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/EntityTypeSerializerImpl.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/MetadataDeleteConfig.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/MetadataDeleteJobExecution.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/MetadataDeleteJobExecutionMetadata.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/MetadataUpsertConfig.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/SerializableAttribute.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/MetadataApiControllerTest.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/MetadataApiJobServiceImplTest.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/MetadataApiServiceImplTest.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/job/EntityTypeSerializerImplTest.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/model/MetadataDeleteJobExecutionTest.java
Labels: branch:feature/metadata-api

#8757 M6763 Metadata API v3: merge with master
  molgenis-api-tests/pom.xml
  molgenis-app/src/main/java/org/molgenis/app/WebAppSecurityConfig.java
  molgenis-core-ui/pom.xml
  molgenis-data-validation/pom.xml
  molgenis-dataexplorer/pom.xml
  molgenis-platform-integration-tests/src/test/java/org/molgenis/integrationtest/platform/PlatformITBaseConfig.java
  molgenis-platform-integration-tests/src/test/java/org/molgenis/integrationtest/platform/PlatformITConfig.java
  molgenis-security/pom.xml
  molgenis-security/src/main/java/org/molgenis/security/acl/AclConfig.java
  molgenis-semantic-mapper/pom.xml
  molgenis-test/src/main/java/org/molgenis/test/IsEqualJson.java
  molgenis-util/pom.xml
  molgenis-web/pom.xml
  pom.xml
Labels: branch:feature/metadata-api

#8758 Common API paging methods
  molgenis-api-data/src/main/java/org/molgenis/api/data/v3/EntityMapperImpl.java
  molgenis-api/src/main/java/org/molgenis/api/model/response/LinksResponse.java
  molgenis-api/src/main/java/org/molgenis/api/model/response/PageResponse.java
  molgenis-api/src/main/java/org/molgenis/api/support/LinksUtils.java
  molgenis-api/src/main/java/org/molgenis/api/support/MolgenisServletUriComponentsBuilder.java
  molgenis-api/src/main/java/org/molgenis/api/support/PageUtils.java
  molgenis-api/src/test/java/org/molgenis/api/support/LinksUtilsTest.java
  molgenis-api/src/test/java/org/molgenis/api/support/MolgenisServletUriComponentsBuilderTest.java
  molgenis-api/src/test/java/org/molgenis/api/support/PageUtilsTest.java
Labels: branch:master

#8760 M6763 Fix (de)serialization issues + remove DataService dependency in MetadataApiService
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiJobService.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiServiceImpl.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/EntityTypeSerializerImpl.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/SerializableAttribute.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/MetadataApiServiceImplTest.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/job/EntityTypeSerializerImplTest.java
  molgenis-data/src/main/java/org/molgenis/data/meta/MetaDataService.java
  molgenis-data/src/main/java/org/molgenis/data/meta/MetaDataServiceImpl.java
  molgenis-data/src/test/java/org/molgenis/data/meta/MetaDataServiceImplTest.java
Labels: branch:feature/metadata-api

#8763 Move QueryMapper/SortMapper from data.v3 to data
  molgenis-api-data/src/main/java/org/molgenis/api/data/DataApiConfig.java
  molgenis-api-data/src/main/java/org/molgenis/api/data/QueryMapper.java
  molgenis-api-data/src/main/java/org/molgenis/api/data/SortMapper.java
  molgenis-api-data/src/main/java/org/molgenis/api/data/v3/DataApiV3Config.java
  molgenis-api-data/src/main/java/org/molgenis/api/data/v3/DataServiceV3Impl.java
  molgenis-api-data/src/test/java/org/molgenis/api/data/QueryMapperTest.java
  molgenis-api-data/src/test/java/org/molgenis/api/data/SortMapperTest.java
  molgenis-api-data/src/test/java/org/molgenis/api/data/v3/DataServiceV3ImplTest.java
  molgenis-metadata-manager/src/main/java/org/molgenis/metadata/manager/mapper/SortMapper.java
Labels: branch:master

#8748 [FEAT] Add user details to context endpoint
  molgenis-core-ui/src/main/java/org/molgenis/core/ui/controller/UiContextController.java
  molgenis-core-ui/src/main/java/org/molgenis/core/ui/controller/UiContextResponse.java
  molgenis-core-ui/src/test/java/org/molgenis/core/ui/controller/UiContextControllerTest.java
Labels: 8.2

#8765 Merge 8.2 back to master
  docs/SUMMARY.md
  docs/guide-deploy-molgenis.md
  docs/guide-kubernetes.md
  docs/guide-migration.md
  docs/guide-standalone-server.md
  docs/images/install/molgenis_architecture.svg
  docs/images/install/molgenis_architecture_kubernetes.svg
  molgenis-core-ui/src/main/java/org/molgenis/core/ui/controller/UiContextController.java
  molgenis-core-ui/src/main/java/org/molgenis/core/ui/controller/UiContextResponse.java
  molgenis-core-ui/src/test/java/org/molgenis/core/ui/controller/UiContextControllerTest.java
Labels: branch:master

#8766 M6763 Metadata API v3: merge with master
  docs/SUMMARY.md
  docs/guide-deploy-molgenis.md
  docs/guide-kubernetes.md
  docs/guide-migration.md
  docs/guide-standalone-server.md
  docs/images/install/molgenis_architecture.svg
  docs/images/install/molgenis_architecture_kubernetes.svg
  molgenis-api-data/src/main/java/org/molgenis/api/data/DataApiConfig.java
  molgenis-api-data/src/main/java/org/molgenis/api/data/QueryMapper.java
  molgenis-api-data/src/main/java/org/molgenis/api/data/SortMapper.java
  molgenis-api-data/src/main/java/org/molgenis/api/data/v3/DataApiV3Config.java
  molgenis-api-data/src/main/java/org/molgenis/api/data/v3/DataServiceV3Impl.java
  molgenis-api-data/src/main/java/org/molgenis/api/data/v3/EntityMapperImpl.java
  molgenis-api-data/src/main/java/org/molgenis/api/data/v3/SortV3Mapper.java
  molgenis-api-data/src/test/java/org/molgenis/api/data/QueryMapperTest.java
  molgenis-api-data/src/test/java/org/molgenis/api/data/SortMapperTest.java
  molgenis-api-data/src/test/java/org/molgenis/api/data/v3/DataServiceV3ImplTest.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/AttributeV3Mapper.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/EntityTypeV3Mapper.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiConfig.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiServiceImpl.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/QueryMapper.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/AttributeV3MapperTest.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/MetadataApiServiceImplTest.java
  molgenis-api/src/main/java/org/molgenis/api/model/response/LinksResponse.java
  molgenis-api/src/main/java/org/molgenis/api/model/response/PageResponse.java
  molgenis-api/src/main/java/org/molgenis/api/support/LinksUtils.java
  molgenis-api/src/main/java/org/molgenis/api/support/MolgenisServletUriComponentsBuilder.java
  molgenis-api/src/main/java/org/molgenis/api/support/PageUtils.java
  molgenis-api/src/test/java/org/molgenis/api/support/LinksUtilsTest.java
  molgenis-api/src/test/java/org/molgenis/api/support/MolgenisServletUriComponentsBuilderTest.java
  molgenis-api/src/test/java/org/molgenis/api/support/PageUtilsTest.java
  molgenis-core-ui/src/main/java/org/molgenis/core/ui/controller/UiContextController.java
  molgenis-core-ui/src/main/java/org/molgenis/core/ui/controller/UiContextResponse.java
  molgenis-core-ui/src/test/java/org/molgenis/core/ui/controller/UiContextControllerTest.java
  molgenis-metadata-manager/src/main/java/org/molgenis/metadata/manager/mapper/SortMapper.java
Labels: branch:feature/metadata-api

#8767 M6763 Metadata API v3: resolve code smells
  molgenis-api-metadata/pom.xml
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/AttributeV3Mapper.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/EntityTypeV3Mapper.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiServiceImpl.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/SerializableAttribute.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/SerializableEntityType.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/MetadataApiServiceImplTest.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/model/MetadataDeleteJobExecutionTest.java
  molgenis-api/src/main/java/org/molgenis/api/model/Query.java
Labels: branch:feature/metadata-api

#8768 Introduce EntityType.getOwnAttributeById
  molgenis-data/src/main/java/org/molgenis/data/meta/EntityTypeWithoutMappedByAttributes.java
  molgenis-data/src/main/java/org/molgenis/data/meta/model/EntityType.java
  molgenis-data/src/test/java/org/molgenis/data/meta/EntityTypeWithoutMappedByAttributesTest.java
  molgenis-data/src/test/java/org/molgenis/data/meta/model/EntityTypeTest.java
Labels: branch:master

#8769 Merge with master
  molgenis-data/src/main/java/org/molgenis/data/meta/EntityTypeWithoutMappedByAttributes.java
  molgenis-data/src/main/java/org/molgenis/data/meta/model/EntityType.java
  molgenis-data/src/test/java/org/molgenis/data/meta/EntityTypeWithoutMappedByAttributesTest.java
  molgenis-data/src/test/java/org/molgenis/data/meta/model/EntityTypeTest.java
Labels: branch:feature/metadata-api

#8770 Use EntityType.getOwnAttributeById() + remove unused methods
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiServiceImpl.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/MetadataApiServiceImplTest.java
  molgenis-data/src/main/java/org/molgenis/data/meta/MetaDataService.java
  molgenis-data/src/main/java/org/molgenis/data/meta/MetaDataServiceImpl.java
  molgenis-data/src/test/java/org/molgenis/data/meta/MetaDataServiceImplTest.java
Labels: branch:feature/metadata-api

#8755 PATCH entitytype endpoint
  docs/data/metadata-api-v3.yaml
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/AttributeV3Mapper.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/EntityTypeV3Mapper.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiController.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataUtils.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/exception/EmptyAttributesException.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/exception/IdModificationException.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/exception/InvalidKeyException.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/exception/ReadOnlyFieldException.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/exception/UnknownLookupAttributesException.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/exception/UnsupportedFieldException.java
  molgenis-api-metadata/src/main/resources/l10n/api-metadata_en.properties
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/AttributeV3MapperTest.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/EntityTypeV3MapperTest.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/exception/EmptyAttributesExceptionTest.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/exception/IdModificationExceptionTest.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/exception/InvalidKeyExceptionTest.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/exception/ReadOnlyFieldExceptionTest.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/exception/UnknownLookupAttributesExceptionTest.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/exception/UnsupportedFieldExceptionTest.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/exception/ZeroResultsExceptionTest.java
  molgenis-api-metadata/src/test/resources/l10n/api-metadata_en.properties
  molgenis-api-tests/src/test/java/org/molgenis/api/tests/metadata/v3/MetadataApiControllerIT.java
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/createMetadataEntityTypeMyOneToMany.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/partialUpdateMetadataEntityTypeMyStrings.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/retrieveMetadata.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/retrieveMetadataPartialUpdateEntityType.json
  molgenis-data/src/main/java/org/molgenis/data/InvalidValueTypeException.java
Labels: branch:feature/metadata-api

#8771 Upgrade auto-value 1.4.1 to 1.7
  molgenis-api-data/pom.xml
  molgenis-api-files/pom.xml
  molgenis-api-identities/pom.xml
  molgenis-api/pom.xml
  molgenis-app-manager/pom.xml
  molgenis-beacon/pom.xml
  molgenis-core-ui/pom.xml
  molgenis-data-elasticsearch/pom.xml
  molgenis-data-import/pom.xml
  molgenis-data-index/pom.xml
  molgenis-data-postgresql/pom.xml
  molgenis-data/pom.xml
  molgenis-dataexplorer/pom.xml
  molgenis-genomebrowser/pom.xml
  molgenis-metadata-manager/pom.xml
  molgenis-one-click-importer/pom.xml
  molgenis-ontology-core/pom.xml
  molgenis-searchall/pom.xml
  molgenis-security-core/pom.xml
  molgenis-semantic-mapper/pom.xml
  molgenis-semantic-search/pom.xml
  pom.xml
Labels: branch:master

#8774 add and move job metadata tests
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/job/MetadataDeleteJobExecutionFactoryTest.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/job/MetadataDeleteJobExecutionTest.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/job/MetadataUpsertJobExecutionFactoryTest.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/job/MetadataUpsertJobExecutionTest.java
Labels: branch:feature/metadata-api

#8775 M6763 Metadata API: use @PathVariable and @AutoValue classes
  molgenis-api-data/pom.xml
  molgenis-api-files/pom.xml
  molgenis-api-identities/pom.xml
  molgenis-api-metadata/pom.xml
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/AttributeV3Mapper.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/EntityTypeV3Mapper.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiController.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/model/CreateAttributeRequest.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/model/CreateEntityTypeRequest.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/model/DeleteAttributeRequest.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/model/DeleteAttributesRequest.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/model/DeleteEntityTypeRequest.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/model/EntityTypeResponseData.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/model/I18nValue.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/model/ReadAttributeRequest.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/model/ReadAttributesRequest.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/model/ReadEntityTypeRequest.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/AttributeV3MapperTest.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/EntityTypeV3MapperTest.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/MetadataApiControllerTest.java
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/createMetadataEntityTypeDescribable.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/createMetadataEntityTypeIdentifiable.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/createMetadataEntityTypeMyDataset.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/createMetadataEntityTypeMyNumbers.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/createMetadataEntityTypeMyOneToMany.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/createMetadataEntityTypeMyStrings.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/retrieveMetadata.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/retrieveMetadataEntityType.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/retrieveMetadataEntityTypeAttribute.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/retrieveMetadataEntityTypeAttributes.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/retrieveMetadataPartialUpdateEntityType.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/updateMetadataEntityTypeMyNumbers.json
  molgenis-api/pom.xml
  molgenis-app-manager/pom.xml
  molgenis-beacon/pom.xml
  molgenis-core-ui/pom.xml
  molgenis-data-elasticsearch/pom.xml
  molgenis-data-import/pom.xml
  molgenis-data-index/pom.xml
  molgenis-data-postgresql/pom.xml
  molgenis-data/pom.xml
  molgenis-dataexplorer/pom.xml
  molgenis-genomebrowser/pom.xml
  molgenis-metadata-manager/pom.xml
  molgenis-one-click-importer/pom.xml
  molgenis-ontology-core/pom.xml
  molgenis-searchall/pom.xml
  molgenis-security-core/pom.xml
  molgenis-semantic-mapper/pom.xml
  molgenis-semantic-search/pom.xml
  pom.xml
Labels: branch:feature/metadata-api

#8776 M6763 Metadata API: attribute type validation
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/model/CreateAttributeRequest.java
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/createMetadataEntityTypeMyOneToMany.json
Labels: branch:feature/metadata-api

#8777 M6763 Metadata API: fix unknown entity type
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiServiceImpl.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/MetadataApiServiceImplTest.java
Labels: branch:feature/metadata-api

#8780 M6763 Metadata API: improve API tests
  molgenis-api-tests/src/test/java/org/molgenis/api/tests/metadata/v3/MetadataApiControllerIT.java
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/updateRetrieveMetadataEntityTypeMyNumbers.json
Labels: branch:feature/metadata-api

#8779 M6763 Metadata API: patch attribute endpoint
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/AttributeV3Mapper.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiController.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/MetadataApiControllerTest.java
  molgenis-api-tests/src/test/java/org/molgenis/api/tests/metadata/v3/MetadataApiControllerIT.java
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/partialUpdateMetadataEntityTypeAttribute.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/partialUpdateRetrieveMetadataEntityTypeAttribute.json
Labels: branch:feature/metadata-api

#8782 Fix #8733 Faulty metadata manager exception handler
  molgenis-metadata-manager/src/main/java/org/molgenis/metadata/manager/controller/MetadataManagerController.java
Labels: branch:master

#8778 M6763 Metadata API: update attribute
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/AttributeV3Mapper.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiController.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/MetadataApiControllerTest.java
  molgenis-api-tests/src/test/java/org/molgenis/api/tests/metadata/v3/MetadataApiControllerIT.java
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/updateMetadataEntityTypeAttribute.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/updateRetrieveMetadataEntityTypeAttribute.json
Labels: branch:feature/metadata-api

#8781 M6763 Metadata API: create attribute endpoint
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiController.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/MetadataApiControllerTest.java
  molgenis-api-tests/src/test/java/org/molgenis/api/tests/metadata/v3/MetadataApiControllerIT.java
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/createMetadataEntityTypeAttribute.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/createRetrieveMetadataEntityTypeAttribute.json
Labels: branch:feature/metadata-api

#8783 Fix #8674 ACL error when importing to non-existing entity type
  molgenis-data-import/src/main/java/org/molgenis/data/importer/emx/ImportWriter.java
  molgenis-data-import/src/test/java/org/molgenis/data/importer/emx/ImportWriterTest.java
Labels: branch:master
