Repository molgenis/molgenis, pull requests merged in 2019-10, with the labels that each got.

#8697 [CHORE] manually close release on sonatype
  pom.xml
Labels: master

#8699 Fix #8695 Slow performance retrieving data for non-superusers
  molgenis-api-data/src/main/java/org/molgenis/api/data/v2/RestControllerV2.java
  molgenis-core-ui/src/main/java/org/molgenis/core/ui/MolgenisInterceptor.java
  molgenis-core-ui/src/main/java/org/molgenis/core/ui/MolgenisMenuController.java
  molgenis-core-ui/src/main/java/org/molgenis/core/ui/MolgenisWebAppConfig.java
  molgenis-core-ui/src/main/java/org/molgenis/core/ui/controller/AbstractStaticContentController.java
  molgenis-core-ui/src/main/java/org/molgenis/core/ui/controller/StaticContentServiceImpl.java
  molgenis-core-ui/src/main/java/org/molgenis/core/ui/jobs/JobsController.java
  molgenis-core-ui/src/test/java/org/molgenis/core/ui/MolgenisInterceptorTest.java
  molgenis-data-cache/src/main/java/org/molgenis/data/cache/l2/L2Cache.java
  molgenis-data-cache/src/main/java/org/molgenis/data/cache/l2/L2CacheRepositoryDecorator.java
  molgenis-data-cache/src/main/java/org/molgenis/data/cache/utils/EntityHydration.java
  molgenis-data-cache/src/test/java/org/molgenis/data/cache/l2/L2CacheRepositoryDecoratorTest.java
  molgenis-data-cache/src/test/java/org/molgenis/data/cache/l2/L2CacheTest.java
  molgenis-data-cache/src/test/java/org/molgenis/data/cache/utils/EntityHydrationTest.java
  molgenis-data-index/src/main/java/org/molgenis/data/index/IndexDependencyModel.java
  molgenis-data-platform/src/main/java/org/molgenis/data/platform/decorators/MolgenisRepositoryDecoratorFactory.java
  molgenis-data-security/src/main/java/org/molgenis/data/security/DataserviceRoleHierarchy.java
  molgenis-data-validation/src/main/java/org/molgenis/data/validation/FetchValidator.java
  molgenis-data-validation/src/main/java/org/molgenis/data/validation/FetchValidatorImpl.java
  molgenis-data-validation/src/main/java/org/molgenis/data/validation/QueryValidationRepositoryDecorator.java
  molgenis-data-validation/src/main/java/org/molgenis/data/validation/QueryValidator.java
  molgenis-data-validation/src/test/java/org/molgenis/data/validation/FetchValidatorImplTest.java
  molgenis-data-validation/src/test/java/org/molgenis/data/validation/QueryValidationRepositoryDecoratorTest.java
  molgenis-data-validation/src/test/java/org/molgenis/data/validation/QueryValidatorTest.java
  molgenis-data/src/main/java/org/molgenis/data/support/DataServiceImpl.java
  molgenis-data/src/main/java/org/molgenis/data/support/QueryImpl.java
  molgenis-dataexplorer/src/main/java/org/molgenis/dataexplorer/controller/DataExplorerController.java
  molgenis-dataexplorer/src/test/java/org/molgenis/dataexplorer/DataExplorerControllerTest.java
  molgenis-genomebrowser/src/main/java/org/molgenis/genomebrowser/service/GenomeBrowserService.java
  molgenis-platform-integration-tests/src/test/java/org/molgenis/integrationtest/platform/DataServiceIT.java
  molgenis-security/src/main/java/org/molgenis/security/twofactor/auth/TwoFactorAuthenticationFilter.java
  molgenis-security/src/test/java/org/molgenis/security/twofactor/auth/TwoFactorAuthenticationFilterTest.java
  molgenis-web/src/main/java/org/molgenis/web/PluginInterceptor.java
  molgenis-web/src/main/java/org/molgenis/web/i18n/UserLocaleResolverImpl.java
Labels: master

#8698 M6763 Metadata API test stubs
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiController.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataV3Mapper.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/model/Attribute.java
  molgenis-api-tests/src/test/java/org/molgenis/api/tests/metadata/v3/MetadataControllerIT.java
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/createMetadataEntityType.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/metadata_api_v3_emx.xlsx
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/partialUpdateMetadataEntityType.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/partialUpdateMetadataEntityTypeAttribute.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/retrieveMetadata.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/retrieveMetadataEntityType.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/retrieveMetadataEntityTypeAttribute.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/retrieveMetadataEntityTypeAttributes.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/updateMetadataEntityType.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/updateMetadataEntityTypeAttribute.json
Labels: feature/metadata-api

#8704 revert accidental commit
  molgenis-api-data/src/main/java/org/molgenis/api/data/v3/EntityController.java
Labels: feature/metadata-api

#8709 Template expression performance improvements
  molgenis-api-data/src/main/java/org/molgenis/api/data/v3/DataServiceV3Impl.java
  molgenis-api-data/src/main/java/org/molgenis/api/data/v3/EntityController.java
  molgenis-data-cache/src/main/java/org/molgenis/data/cache/l2/L2CacheRepositoryDecorator.java
  molgenis-data-cache/src/test/java/org/molgenis/data/cache/l2/L2CacheRepositoryDecoratorTest.java
  molgenis-data/src/main/java/org/molgenis/data/support/TemplateExpressionEvaluator.java
Labels: master

#8706 M6763 Metadata API v3 delete entity type / delete entity types endpoints
  molgenis-api-data/src/main/java/org/molgenis/api/data/v3/EntityController.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiController.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiService.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiServiceImpl.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataV3Mapper.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/QueryMapper.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/model/DeleteEntityTypeRequest.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/model/DeleteEntityTypesRequest.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/model/EntityType.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/model/ReadEntityTypeRequest.java
  molgenis-api-tests/src/test/java/org/molgenis/api/tests/metadata/v3/MetadataApiControllerIT.java
  molgenis-app/src/test/java/org/molgenis/api/metadata/v3/MetadataApiControllerTest.java
  molgenis-app/src/test/java/org/molgenis/api/metadata/v3/MetadataApiServiceImplTest.java
Labels: feature/metadata-api

#8650 Fix IntelliJ warnings
  molgenis-api-data/src/main/java/org/molgenis/api/data/v2/RestControllerV2.java
  molgenis-app/src/main/java/org/molgenis/app/WebAppInitializer.java
  molgenis-core-ui/src/main/java/org/molgenis/core/ui/browserdetection/BrowserDetectionFilter.java
  molgenis-core-ui/src/main/java/org/molgenis/core/ui/freemarker/RepositoryTemplateLoader.java
  molgenis-data-csv/src/main/java/org/molgenis/data/csv/CsvRepositoryCollection.java
  molgenis-data-elasticsearch/src/main/java/org/molgenis/data/elasticsearch/client/ClientFacade.java
  molgenis-data-excel/path
  molgenis-data-excel/src/main/java/org/molgenis/data/excel/ExcelSheetWriter.java
  molgenis-data-validation/src/main/java/org/molgenis/data/validation/RepositoryValidationDecorator.java
  molgenis-data-vcf/src/main/java/org/molgenis/data/vcf/VcfRepositoryCollection.java
  molgenis-data/src/main/java/org/molgenis/data/mem/InMemoryRepository.java
  molgenis-data/src/main/java/org/molgenis/data/support/AbstractRepository.java
  molgenis-one-click-importer/src/main/java/org/molgenis/oneclickimporter/service/ExcelService.java
  molgenis-one-click-importer/src/main/java/org/molgenis/oneclickimporter/service/impl/ExcelServiceImpl.java
  molgenis-one-click-importer/src/test/java/org/molgenis/oneclickimporter/service/utils/OneClickImporterTestUtils.java
  molgenis-security/src/main/java/org/molgenis/security/MolgenisWebAppSecurityConfig.java
  molgenis-util/src/main/java/org/molgenis/util/HugeMap.java
  molgenis-util/src/main/java/org/molgenis/util/HugeSet.java
  molgenis-web/src/main/java/org/molgenis/web/converter/CsvHttpMessageConverter.java
Labels: master

#8710 Fix #8574 Poor performance adding to row-level secured entity type
  molgenis-security/src/main/java/org/molgenis/security/acl/TransactionalJdbcMutableAclService.java
Labels: master

#8651 Fix Sonar issues #2
  molgenis-api-data/src/main/java/org/molgenis/api/data/v3/EntityMapperImpl.java
  molgenis-core-ui/src/main/java/org/molgenis/core/ui/admin/log/LogManagerController.java
  molgenis-core-ui/src/main/java/org/molgenis/core/ui/style/ThemeFingerprintRegistry.java
  molgenis-data-security/src/main/java/org/molgenis/data/security/permission/EntityHelper.java
  molgenis-data-validation/src/main/java/org/molgenis/data/validation/meta/AttributeValidator.java
  molgenis-data-vcf/src/main/java/org/molgenis/data/vcf/utils/VcfUtils.java
  molgenis-navigator/src/main/java/org/molgenis/navigator/copy/service/CopyServiceImpl.java
  molgenis-ontology/src/main/java/org/molgenis/ontology/sorta/controller/SortaController.java
  molgenis-scripts/src/main/java/org/molgenis/script/ScheduledScriptConfig.java
  molgenis-scripts/src/main/java/org/molgenis/script/ScriptsI18nConfig.java
  molgenis-semantic-mapper/src/main/java/org/molgenis/semanticmapper/controller/MappingServiceController.java
  molgenis-semantic-mapper/src/test/java/org/molgenis/semanticmapper/controller/MappingServiceControllerTest.java
  molgenis-test/src/main/java/org/molgenis/test/TestResourceUtils.java
  molgenis-web/src/main/java/org/molgenis/web/support/MolgenisServletUriComponentsBuilder.java
  molgenis-web/src/test/java/org/molgenis/web/support/ServletUriComponentsBuilderTest.java
Labels: master

#8714 Feature/m6763 metadata api
  docs/data/metadata-api-v3.yaml
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/AttributeV3Mapper.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/EntityTypeV3Mapper.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiController.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiServiceImpl.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/EntityTypeV3MapperTest.java
  molgenis-app/src/test/java/org/molgenis/api/metadata/v3/MetadataApiControllerTest.java
  molgenis-app/src/test/java/org/molgenis/api/metadata/v3/MetadataApiServiceImplTest.java
Labels: feature/metadata-api

#8715 Feature/m6763 metadata api
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/AttributeV3Mapper.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/EntityTypeV3Mapper.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/model/AttributeResponseData.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/model/AttributeSort.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/model/AttributesResponse.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/model/EntityTypeResponseData.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/model/Range.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/MetadataApiControllerTest.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/MetadataApiServiceImplTest.java
Labels: feature/metadata-api

#8719 Feature/m6763 metadata api
  molgenis-api-data/src/main/java/org/molgenis/api/data/v3/EntityMapperImpl.java
  molgenis-api-data/src/test/java/org/molgenis/api/data/v3/EntityMapperImplTest.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/EntityTypeV3Mapper.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiServiceImpl.java
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/data/v3/deleteResourceCollectionQuery.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/data/v3/retrieveResourceCollection.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/data/v3/retrieveResourceCollectionFilterExpand.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/data/v3/retrieveResourceCollectionSortQuery.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/data/v3/retrieveSubResourceCollection.json
  molgenis-api/src/main/java/org/molgenis/api/PageUtils.java
Labels: feature/metadata-api

#8716 M6763 Metadata API tests
  docs/data/metadata-api-v3.yaml
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/AttributeV3Mapper.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/EntityTypeV3Mapper.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiServiceImpl.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/model/AttributeResponseData.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/model/CreateAttributeRequest.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/model/EntityTypeResponseData.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/model/Range.java
  molgenis-api-tests/src/test/java/org/molgenis/api/tests/metadata/v3/MetadataApiControllerIT.java
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/createMetadataEntityTypeDescribable.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/createMetadataEntityTypeMyDataset.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/createMetadataEntityTypeMyNumbers.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/createMetadataEntityTypeMyStrings.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/retrieveMetadataEntityType.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/retrieveMetadataEntityTypeAttribute.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/retrieveMetadataEntityTypeAttributes.json
Labels: feature/metadata-api

#8721 Feature/m6763 metadata api
  molgenis-api-data/src/main/java/org/molgenis/api/data/v3/EntityMapperImpl.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/AttributeV3Mapper.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/EntityTypeV3Mapper.java
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/data/v3/deleteResourceCollectionQuery.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/data/v3/retrieveResourceCollection.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/data/v3/retrieveResourceCollectionFilterExpand.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/data/v3/retrieveResourceCollectionSortQuery.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/data/v3/retrieveSubResourceCollection.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/retrieveMetadata.json
  molgenis-api/src/main/java/org/molgenis/api/PageUtils.java
Labels: feature/metadata-api

#8723 M6763 Metadata API v3: categoricalOptions
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/AttributeV3Mapper.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/model/AttributeResponseData.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/model/Category.java
Labels: feature/metadata-api

#8724 Build time reduced by 40% in case of skipTests
  pom.xml
Labels: master

#8728 Feature/m6763 metadata api
  molgenis-api-metadata/pom.xml
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/AttributeV3Mapper.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiController.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiJobService.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiJobServiceImpl.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiService.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/MetadataApiServiceImpl.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/EntityTypeSerializer.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/EntityTypeSerializerImpl.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/MetadataUpsertConfig.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/MetadataUpsertJobExecution.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/MetadataUpsertJobExecutionFactory.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/MetadataUpsertJobExecutionMetadata.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/SerializableAttribute.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/SerializableEntityType.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/util/BaseCollectionDeserializer.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/util/BaseMapDeserializer.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/util/ImmutableListDeserializer.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/util/ImmutableMapDeserializer.java
  molgenis-api-metadata/src/main/java/org/molgenis/api/metadata/v3/job/util/Types.java
  molgenis-api-metadata/src/test/java/org/molgenis/api/metadata/v3/MetadataApiControllerTest.java
  molgenis-api-tests/src/test/java/org/molgenis/api/tests/metadata/v3/MetadataApiControllerIT.java
  molgenis-api-tests/src/test/java/org/molgenis/api/tests/utils/JobUtils.java
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/partialUpdateMetadataEntityType.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/partialUpdateMetadataEntityTypeMyStrings.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/updateMetadataEntityType.json
  molgenis-api-tests/src/test/resources/org/molgenis/api/tests/metadata/v3/updateMetadataEntityTypeMyNumbers.json
  pom.xml
Labels: feature/metadata-api

#8731 Disable @Transaction to prevent failure in maven and jenkins
  molgenis-platform-integration-tests/src/test/java/org/molgenis/integrationtest/platform/PlatformIT.java
Labels: 8.2-RC

#8727 async put/patch/delete in yaml
  docs/data/metadata-api-v3.yaml
Labels: feature/metadata-api

#8713 M5207 Suppress all "unused" warnings in all (non-meta) entity classes
  .idea/fileTemplates/MolgenisEntityType.java
  molgenis-amazon-bucket/src/main/java/org/molgenis/amazon/bucket/meta/AmazonBucketJobExecution.java
  molgenis-app-manager/src/main/java/org/molgenis/app/manager/meta/App.java
  molgenis-beacon/src/main/java/org/molgenis/beacon/config/Beacon.java
  molgenis-beacon/src/main/java/org/molgenis/beacon/config/BeaconDataset.java
  molgenis-beacon/src/main/java/org/molgenis/beacon/config/BeaconOrganization.java
  molgenis-core-ui/src/main/java/org/molgenis/core/ui/data/system/core/FreemarkerTemplate.java
  molgenis-core-ui/src/main/java/org/molgenis/core/ui/settings/StaticContent.java
  molgenis-core-ui/src/main/java/org/molgenis/core/ui/style/StyleSheet.java
  molgenis-data-file/src/main/java/org/molgenis/data/file/model/FileMeta.java
  molgenis-data-i18n/src/main/java/org/molgenis/data/i18n/model/L10nString.java
  molgenis-data-i18n/src/main/java/org/molgenis/data/i18n/model/Language.java
  molgenis-data-import/src/main/java/org/molgenis/data/importer/ImportRun.java
  molgenis-data-index/src/main/java/org/molgenis/data/index/meta/IndexAction.java
  molgenis-data-index/src/main/java/org/molgenis/data/index/meta/IndexActionGroup.java
  molgenis-data-plugin/src/main/java/org/molgenis/data/plugin/model/Plugin.java
  molgenis-data-security/src/main/java/org/molgenis/data/security/auth/Group.java
  molgenis-data-security/src/main/java/org/molgenis/data/security/auth/MembershipInvitation.java
  molgenis-data-security/src/main/java/org/molgenis/data/security/auth/PasswordResetToken.java
  molgenis-data-security/src/main/java/org/molgenis/data/security/auth/Role.java
  molgenis-data-security/src/main/java/org/molgenis/data/security/auth/RoleMembership.java
  molgenis-data-security/src/main/java/org/molgenis/data/security/auth/Token.java
  molgenis-data-security/src/main/java/org/molgenis/data/security/auth/User.java
  molgenis-data/src/main/java/org/molgenis/data/decorator/meta/DecoratorConfiguration.java
  molgenis-data/src/main/java/org/molgenis/data/decorator/meta/DecoratorParameters.java
  molgenis-data/src/main/java/org/molgenis/data/decorator/meta/DynamicDecorator.java
  molgenis-data/src/main/java/org/molgenis/data/meta/model/Tag.java
  molgenis-data/src/test/java/org/molgenis/data/staticentity/TestEntityStatic.java
  molgenis-data/src/test/java/org/molgenis/data/staticentity/TestRefEntityStatic.java
  molgenis-data/src/test/java/org/molgenis/data/staticentity/bidirectional/Author.java
  molgenis-data/src/test/java/org/molgenis/data/staticentity/bidirectional/Book.java
  molgenis-data/src/test/java/org/molgenis/data/staticentity/bidirectional/Person.java
  molgenis-dataexplorer/src/main/java/org/molgenis/dataexplorer/negotiator/config/NegotiatorConfig.java
  molgenis-dataexplorer/src/main/java/org/molgenis/dataexplorer/negotiator/config/NegotiatorEntityConfig.java
  molgenis-genomebrowser/src/main/java/org/molgenis/genomebrowser/meta/GenomeBrowserAttributes.java
  molgenis-genomebrowser/src/main/java/org/molgenis/genomebrowser/meta/GenomeBrowserSettings.java
  molgenis-jobs/src/main/java/org/molgenis/jobs/model/JobExecution.java
  molgenis-jobs/src/main/java/org/molgenis/jobs/model/ScheduledJob.java
  molgenis-jobs/src/main/java/org/molgenis/jobs/model/ScheduledJobType.java
  molgenis-ontology-core/src/main/java/org/molgenis/ontology/core/meta/Ontology.java
  molgenis-ontology-core/src/main/java/org/molgenis/ontology/core/meta/OntologyTerm.java
  molgenis-ontology-core/src/main/java/org/molgenis/ontology/core/meta/OntologyTermDynamicAnnotation.java
  molgenis-ontology-core/src/main/java/org/molgenis/ontology/core/meta/OntologyTermNodePath.java
  molgenis-ontology-core/src/main/java/org/molgenis/ontology/core/meta/OntologyTermSynonym.java
  molgenis-questionnaires/src/main/java/org/molgenis/questionnaires/meta/Questionnaire.java
  molgenis-scripts-core/src/main/java/org/molgenis/script/core/Script.java
  molgenis-scripts-core/src/main/java/org/molgenis/script/core/ScriptParameter.java
  molgenis-scripts-core/src/main/java/org/molgenis/script/core/ScriptType.java
  molgenis-security/src/main/java/org/molgenis/security/oidc/model/OidcClient.java
  molgenis-security/src/main/java/org/molgenis/security/oidc/model/OidcUserMapping.java
  molgenis-security/src/main/java/org/molgenis/security/twofactor/model/RecoveryCode.java
  molgenis-security/src/main/java/org/molgenis/security/twofactor/model/UserSecret.java
  molgenis-settings/src/main/java/org/molgenis/settings/mail/JavaMailProperty.java
Labels: master

#8742 Fix #8730 PlatformIT.testLanguageService fails in specific cases
  molgenis-platform-integration-tests/src/test/resources/spring.properties
Labels: master
